In [6]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import datetime
import os
#print(os.listdir("../input"))

import time

import matplotlib.pyplot as plt
import seaborn as sns
import gc

%matplotlib inline
path='/Users/alessandrorivello/Kaggle/dados_kaggle/'

In [20]:
# Setting the data types before importing (instead of letting pandas guess it) can improve 
# performance and use less RAM
# Reference: https://www.kaggle.com/yuliagm/how-to-work-with-big-datasets-on-16g-ram-dask
dtypes = {
        'ip'            : 'uint32',
        'app'           : 'uint16',
        'device'        : 'uint16',
        'os'            : 'uint16',
        'channel'       : 'uint16',
        'is_attributed' : 'uint8',
        'days'          : 'uint8',
        'hours'         : 'uint8',
        'minutes'       : 'uint8',
        'seconds'       : 'uint8',
        }

In [21]:
# We delete the attributed_time column since it has a lot of missing values and might not be so informative
# Reference: https://www.kaggle.com/c/talkingdata-adtracking-fraud-detection/discussion/51411
cols = ['ip', 'app', 'device', 'os', 'channel', 'is_attributed', 'days', 'hours', 'minutes','seconds']

In [22]:
# Note that we're using 10_train_timed and not the original file. This file represents 10% of the full train data
# and the column click_time was split into its components days, hours, minutes and seconds. Besides that, we also
# deleted the year and month component saving us a lot of memory space

train=pd.read_csv(path + '10_train_timed.csv',dtype=dtypes, usecols = cols)

In [26]:
# Trying to do EDA with the test too, for now without much success

test=pd.read_csv(path + 'test.csv')

In [23]:
df.head()

,ip,app,device,os,channel,is_attributed,days,hours,minutes,seconds
0,103022,3,1,23,379,0,6,14,37,44
1,114221,3,1,19,379,0,6,14,37,59
2,47902,3,1,17,379,0,6,14,48,7
3,23550,3,1,13,379,0,6,14,53,39
4,84644,3,1,19,379,0,6,14,56,49

In [24]:
gc.collect()

129

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18490388 entries, 0 to 18490387
Data columns (total 10 columns):
ip               uint32
app              uint16
device           uint16
os               uint16
channel          uint16
is_attributed    uint8
days             uint8
hours            uint8
minutes          uint8
seconds          uint8
dtypes: uint16(4), uint32(1), uint8(5)
memory usage: 299.8 MB

In [27]:

test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18790469 entries, 0 to 18790468
Data columns (total 7 columns):
click_id      int64
ip            int64
app           int64
device        int64
os            int64
channel       int64
click_time    object
dtypes: int64(6), object(1)
memory usage: 1003.5+ MB

In [28]:
test.head()

   click_id      ip  app  device  os  channel           click_time
0         0    5744    9       1   3      107  2017-11-10 04:00:00
1         1  119901    9       1   3      466  2017-11-10 04:00:00
2         2   72287   21       1  19      128  2017-11-10 04:00:00
3         3   78477   15       1  13      111  2017-11-10 04:00:00
4         4  123080   12       1  13      328  2017-11-10 04:00:00