In [1]:
import pandas as pd
import numpy as np
import gc
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dtypes = {
        'ip'            : 'uint32',
        'app'           : 'uint16',
        'device'        : 'uint16',
        'os'            : 'uint16',
        'channel'       : 'uint16',
        'is_attributed' : 'uint8',
        'days'          : 'uint8',
        'hours'         : 'uint8',
        'minutes'       : 'uint8',
        'seconds'       : 'uint8',
        }

In [15]:
# cols = ['ip', 'app', 'device', 'os', 'channel', 'is_attributed', 'days', 'hours', 'minutes', 'seconds']
cols = ['ip', 'app', 'device', 'os', 'channel', 'is_attributed', 'hours', 'minutes']

In [16]:
data = pd.read_csv('/Users/Raul/Desktop/10_train_timed.csv', usecols = cols, dtype = dtypes)

In [17]:
data.head()

       ip  app  device  os  channel  is_attributed  hours  minutes
0  103022    3       1  23      379              0     14       37
1  114221    3       1  19      379              0     14       37
2   47902    3       1  17      379              0     14       48
3   23550    3       1  13      379              0     14       53
4   84644    3       1  19      379              0     14       56

In [18]:
data.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18490388 entries, 0 to 18490387
Data columns (total 8 columns):
ip               uint32
app              uint16
device           uint16
os               uint16
channel          uint16
is_attributed    uint8
hours            uint8
minutes          uint8
dtypes: uint16(4), uint32(1), uint8(3)
memory usage: 264.5 MB

In [14]:
# Looking for unique values
for col in cols:
    unique = data[col].nunique()
    print('Number of unique values in ' + col +' :' + ' ' + str(unique))

Number of unique values in ip : 175900
Number of unique values in app : 467
Number of unique values in device : 1653
Number of unique values in os : 391
Number of unique values in channel : 186
Number of unique values in is_attributed : 2
Number of unique values in days : 4
Number of unique values in hours : 24
Number of unique values in minutes : 60
Number of unique values in seconds : 60